{% extends "admin/base.html" %}
{% load static %}

{% block title %}Diehard Anglers Administration Portal{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <img src="{% static 'admin/img/logo.png' %}" alt="Logo" style="height: 40px;">
        <a href="{% url 'admin:index' %}">Diehard Anglers Administration Portal</a>
    </h1>
{% endblock %}
